@model IEnumerable<CategoryProduct>

@{
    ViewBag.Title = "Məhsulların kateqoriyaları";
    Layout = "_Layout";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Məhsulların kateqoriyaları
      </h1>
      <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Əsas</a></li>
        <li class="active">Məhsulların kateqoriyaları</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <partial name="_SuccessMessagePartial"/>
              <partial name="_DangerMessagePartial"/>
              <partial name="_WarningMessagePartial"/>
              <div class="form-group">
                <a asp-controller="ProductCategory" asp-action="Create" class="btn btn-success">Yeni məhsul kateqoriyası əlavə et</a>
              </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Ad</th>
                  <th>Hərəkətlər</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var category in Model)
                {
                  <tr>
                    <td>@category.Name</td>
                    <td>
                      <a asp-action="Edit" asp-controller="ProductCategory" asp-route-id="@category.Id" class="fa fa-pencil"></a>
                      <a asp-action="Delete" asp-controller="ProductCategory" asp-route-id="@category.Id" class="fa fa-remove"></a>
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
      <!-- /.box -->

    </section>
<!-- /.content -->

