@{
    ViewData["Title"] = "Parolu yenilə";
    Layout = "_Layout";
}
<section class="with-bg solid-section">
    <div class="theme-back"></div>
    <div class="container page-info">
        <div class="section-alt-head container-md">
        </div>
    </div>
    <div class="section-footer">
        <div class="container" data-inview-showup="showup-translate-down">
            <ul class="page-path">
                <li>
                    <a asp-controller="Home" asp-action="Index">Əsas</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li>Parolu yenilə</li>
            </ul>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <p>Parolu yeniləmək üçün emailinizə gödərilən məktubdakı linkdən keçid edin</p>
    </div>
</section>
<a href="#" class="scroll-top disabled">
    <i class="fas fa-angle-up" aria-hidden="true"></i>
</a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
        <img class="image" src="~/images/parts/loader.gif" alt="">
    </div>
</div>
