@model LoginViewModel



@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}


<section class="with-bg solid-section">
    <div class="theme-back"></div>
    <div class="container page-info">
        <div class="section-alt-head container-md">
        </div>
    </div>
    <div class="section-footer">
        <div class="container" data-inview-showup="showup-translate-down">
            <ul class="page-path">
                <li>
                    <a asp-controller="Home" asp-action="Index">Əsas</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li>Daxil ol</li>
            </ul>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <div class="section-head text-center container-md">
            <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Daxil ol</h2>
        </div>
        <form method="post" asp-controller="Account" asp-action="Login"
                    asp-route-returnUrl="@Model.ReturnUrl">
            <div class="medium-container">
                <div class="row rows-lg cols-lg rows-lg">
                    <div class="sm-col-12">
                        <div asp-validation-summary="All" style="color: red"></div> <br>
                        <div class="item-form" data-inview-showup="showup-translate-right">
                            <div class="offs-lg">
                                <div class="field-group">
                                    <div class="field-wrap">
                                        <input class="field-control" asp-for="Email" placeholder="Email" required="required"> <span class="field-back"></span>
                                    </div>
                                </div>
                                <div class="field-group">
                                    <div class="field-wrap">
                                        <input class="field-control" asp-for="Password" type="password" placeholder="Parol" required="required"> <span class="field-back"></span>
                                    </div>
                                </div>
                                <br>
                                <label for="rememberme">Yadda saxla?</label>
                                <input asp-for="RememberMe" type="checkbox" id="rememberme">
                                <br>
                                <a asp-action="ForgotPassword">Parolu unutmusunuz?</a>
                            </div>
                            <div class="text-right">
                                <button class="btn text-upper" type="submit">Daxil ol</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<a href="#" class="scroll-top disabled">
    <i class="fas fa-angle-up" aria-hidden="true"></i>
</a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
        <img class="image" src="~/images/parts/loader.gif" alt="">
    </div>
</div>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
        asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"
        asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
}
