@model IEnumerable<About>

@{
    ViewBag.Title = "Haqqında məlumatları";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Haqqında
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Əsas</a>
        </li>
        <li class="active">Haqqında</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        
        <!-- /.box-header -->
        <div class="box-body">
            <partial name="_WarningMessagePartial"/>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Şəkil</th>
                    <th>Mətn</th>
                    <th>Hərəkətlər</th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var about in Model)
                {
                    <tr>
                        <td>
                            <img class="image" src="~/images/service/@about.Image" alt="@about.Image" width="100">
                        </td>
                        <td>@about.Description</td>
                        <td>
                            <a asp-action="Edit" asp-controller="About" asp-route-id="@about.Id" class="fa fa-pencil"></a>
                        </td>

                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->
