@model Product

@{
    ViewBag.Title = "Yeni məhsul";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Yeni məhsul
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <form asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Yeni məhsulun əlavə edilməsi</h3>
            </div>

            <div style="color: red" asp-validation-summary="All"></div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryProductId">Kateoqriya</label>
                        <select class="form-control" asp-for="CategoryProductId" asp-items="ViewBag.Categories as SelectList">
                        </select>
                        <span asp-validation-for="CategoryProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" type="number" min="0" class="form-control" placeholder="">
                        <span asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea name="Description" asp-for="Description" type="text" class="form-control" placeholder=""></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input type="file" required asp-for="Photo" accept="image/png, image/gif, image/jpeg, image/jpg">
                        <span asp-validation-for="Photo"></span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a asp-controller="Product" asp-action="Index" class="btn btn-default">Geriyə qayıt</a>
                <input type="submit" class="btn btn-success pull-right" value="Əlavə et">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </form>

</section>
<!-- /.content -->


@section script
{
    <partial name="_ValidationPartial"/>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
                CKEDITOR.replace( 'Description', {
                    language: "az"
                } );
    </script>

}