@model Product

@{
    ViewBag.Title = "Məhsulu sil";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Məhsulu sil
    </h1>
</section>

<!-- Main content -->
<section class="content">

  <form asp-action="Delete" asp-controller="Product">
    <!-- Default box -->
      <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Məhsulu silməyi əminsiniz?</h3>
          </div>
          <div class="box-body">
              <div class="col-md-6">
                  <div>
                      <img src="~/images/shop/@Model.Image" style="width: 100px" alt="@Model.Image">
                      <h3>@Model.Name</h3>
                      <h3>@Model.Price</h3>
                      <h3>@Html.Raw(Model.Description)</h3>
                  </div>
              </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
              <a asp-action="Index" asp-controller="Product" class="btn btn-default">Geriyə qayıt</a>
              <button type="submit"  class="btn btn-warning pull-right">Sil</button>

          </div>
          <!-- /.box-footer-->
      </div>
      <!-- /.box -->
</form>

</section>
<!-- /.content -->
