@model News

@{
    ViewBag.Title = "Yeni xəbər";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Yeni xəbər
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <form asp-action="Create" asp-controller="News" enctype="multipart/form-data">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Yeni xəbərin əlavə edilməsi</h3>
            </div>

            <div style="color: red" asp-validation-summary="All"></div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="">
                        <span style="color: red" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subtitle"></label>
                        <input asp-for="Subtitle" type="text" class="form-control" placeholder="">
                        <span style="color: red" asp-validation-for="Subtitle"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text"></label>
                        <textarea name="Text"  asp-for="Text" type="text" class="form-control"  placeholder=""></textarea>
                        <span style="color: red" asp-validation-for="Text"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input type="file" required asp-for="Photo" accept="image/png, image/jpeg, image/jpg, image/png">
                        <span style="color: red" asp-validation-for="Image"></span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a asp-controller="News" asp-action="Index" class="btn btn-default">Geriyə qayıt</a>
                <input type="submit" class="btn btn-success pull-right" value="Əlavə et">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </form>

</section>
<!-- /.content -->


@section script
{
    <partial name="_ValidationPartial"/>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
                CKEDITOR.replace( 'Text', {
                    language: "az"
                } );
    </script>

}