@model News

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<section class="with-bg solid-section">
    <div class="theme-back"></div>
    <div class="container page-info">
    </div>
    <div class="section-footer">
        <div class="container" data-inview-showup="showup-translate-down">
            <ul class="page-path">
                <li>
                    <a asp-action="Index" asp-controller="Home">Əsas</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="News">Xəbərlər</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li>
                    <a>@Model.Name</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="clearfix page-sidebar-right container">
    <div class="page-content" style="padding-right:0">
        <section class="content-section">
            <div class="article">
                <div class="cols-md offs-md" data-inview-showup="showup-translate-up">
                    <div class="table">
                        <div class="col col-middle">
                            <h3 class="reset-offs text-upper">@Model.Name</h3>
                        </div>
                    </div>
                </div>
                <img class="col-12 offs-md" data-inview-showup="showup-translate-up" src="~/images/outsource/@Model.Image" alt="@Model.Image">
                <div class="content-text clearfix" data-inview-showup="showup-translate-up">
                    <div>@Html.Raw(Model.Text)</div>
                </div>
                    
                <div class="table offs-lg" data-inview-showup="showup-translate-up">
                </div>
            </div>
            <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
        </section>
    </div>
</div>
<a href="#" class="scroll-top disabled">
    <i class="fas fa-angle-up" aria-hidden="true"></i>
</a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
        <img class="image" src="~/images/parts/loader.gif" alt="">
    </div>
</div>