@model Slider

@{
    ViewBag.Title = "Yeni slayder";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Yeni slayder
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <form asp-action="Create" asp-controller="Slider" enctype="multipart/form-data">
        <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni slayderin əlavə edilməsi</h3>
                </div>
                
                <div style="color: red" asp-validation-summary="All"></div>
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" type="text" class="form-control"  placeholder="">
                            <span  asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subtitle"></label>
                            <input asp-for="Subtitle" type="text" class="form-control"  placeholder="">
                            <span asp-validation-for="Subtitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo"></label>
                            <input type="file" asp-for="Photo">
                            <span asp-validation-for="Image"></span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a asp-controller="Slider" asp-action="Index" class="btn btn-default">Geriyə qayıt</a>
                    <input type="submit" class="btn btn-success pull-right" value="Əlavə et">
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
    </form>

</section>
<!-- /.content -->