@model Slider

@{
    ViewBag.Title = "Slayderi dəyişmək";
    Layout = "_Layout";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Slayderi dəyişmək
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <form asp-action="Edit" asp-controller="Slider" method="post" enctype="multipart/form-data">
        <!-- Default box -->
        <div class="box">
            <div asp-validation-summary="All"></div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="">
                    </div>

                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input type="file" class="form-control" asp-for="Photo" name="Photo"/>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>İndiki Şəkil</label>
                        <img src="~/images/service/@Model.Image" alt="@Model.Image"/>
                        <input type="hidden" name="Image" value="@Model.Image"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subtitle"></label>
                        <input type="text" class="form-control" asp-for="Subtitle" placeholder="">
                    </div>


                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a asp-action="Index" asp-controller="Slider" class="btn btn-default">Geriyə qayıt</a>
                <button type="submit" class="btn btn-warning pull-right">Dəyiş</button>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </form>

</section>
<!-- /.content -->